.formu1{
    width: 100%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    color: $colorprincipal;
    background-color:$colorsecundario;
    border-radius: 2rem;
    h3{
        padding-bottom: 10px;
        font-size: 25px;
        text-transform: uppercase;
    }
    input{
        width: 80%;
        padding-top:5px;
        padding-bottom: 5px;
        margin: 5px;
        border: none;
    }
    #mensaje{
        padding-top: 30px;
        padding-bottom: 15px;
        margin: 5px;
    }
    #enviar{
        width: 30%;
        margin: 15px;
        background-color: gray;
        color: white;
        border-radius: 1rem;
        &:hover{
            background-color: orange;
            color: $colorsecundario;
}
    }

}



.formulario__nosotros{
    background-color: $colorprincipal;
    color: white;
    text-align: center;
    padding: 20px;
    input{
        width: 50%;
        padding-top:5px;
        padding-bottom: 5px;
        margin: 5px;
        border: none;
        border-radius: 0.5rem;
    } 
        #mensaje{
            padding-top: 30px;
            padding-bottom: 15px;
            margin: 5px;
        }
        #enviar{
            width: 30%;
            margin: 15px;
            background-color: gray;
            color: white;
            border-radius: 0.5rem;
            border: none;
            &:hover{
                background-color: orange;
                color: $colorsecundario;
    }
        }
        h3{
            padding-bottom: 10px;
            font-size: 25px;
            text-transform: uppercase;
        }
        h1{
            padding-bottom: 10px;
            font-size: 25px;
            text-transform: uppercase;
        }
}


.formuviajar{
    display: flex;
    margin: 5%;
    border: 1px solid $colorprincipal ;
    border-radius: 20px;
    padding: 20px;
    background-color: $colorprincipal;
    color: white;
    justify-content: center;
    align-items: center;


}

.btn{
    display: flex;
    width: 10rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: $colorprincipal;
    border: none;
    margin: 2rem ;
    padding: 5px;
        &:hover{
            background-color: orange;
            color: $colorsecundario;
}
}


.botonnacional{
    border: 1.5px solid $colorprincipal;
    background-color: white;
    color: $colorprincipal;
    border-radius: 5px;
    font-weight: bolder;
    &:hover{
        background-color: lightgrey;
        color: $colorprincipal;
}
}
.formupconte{
    display: flex;
    justify-content: center;
}
.parrafoformu{
    width: 80%;
    text-align: center;
    justify-content: center;
}

