* {
    Margin:0px;
    padding:0;
}
body{
    font-family: 'Roboto', sans-serif;
    background-color: $colorsecundario;
}
nav{
    font-size: 20px;
    height: 100px;
    padding: 20px;
    color:$colorprincipal;
    background-color: $colorsecundario;
    

    .nav-link{
    margin-left: 25px;
    margin-right: 25px;
    }

    
}


header{
    z-index: 100;
}


a:-webkit-any-link {

    text-decoration: none;
}



.navbar-light .navbar-nav .nav-link{
    color: dimgrey;
    &:hover{
        color: $colorprincipal; 
    }
}



.navbar-collapse {
    background-color: $colorsecundario;
    margin: 8px -12px;
    padding-left: 12px;
    z-index: 100;

}

.nav__logo{
    padding-right: 15px;
}




footer{
    background-color:$colorsecundario ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 2%;
    
    @media(max-width:480px){
        display: grid;
        grid-template-columns: 1fr ; 
        align-items: center;
        justify-content: center;
        padding: 2%;

}

    .footer__bloque2{
        
        margin: 2%;
        width: 50%;
        color: $colorprincipal;
        
        @media(max-width:480px){

    }
        
        
    }
    .footmenu{
        @extend .footer__bloque2;
        
        a:-webkit-any-link {
        
            color: $colorprincipal;
            cursor: pointer;
            text-decoration: none;
            
            

        
        }
    }
    .titufoot{
        font-weight: bold;
        text-transform: uppercase;
        text-decoration: underline $colorprincipal 1px;
    }
}



.titunacional{
    color: $colorprincipal;
    text-align: center;
    font-weight: bold;
    padding: 15px;
}
.subtitulonacional{
    text-align: center;
    color: gray;
    @media(max-width:768px){
        font-size: 15px;;
    }
}

.cards-wrapper{
    display: flex;
}

.imgcard{
    margin: 1rem auto;
    width: calc(100%/4);
    max-width: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;

}

.contenedorbotonnacional{
    display: flex;
    align-items: center;
    justify-content: center;


}

.personalizado{
    font-weight: bold;
    text-align: center;
    align-items: center;
    font-size: 30px;
}