




.destinos2__fotos{
    
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        justify-content: center;
        align-items: center;
        justify-items: center;

    @media(max-width:990px){ 
        
        grid-template-columns: 2fr 2fr;
        
        }
        @media(max-width:768px){
        grid-template-columns: 1fr; 
    }
}


.destinos1__fotos{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    justify-content: center;
    align-items: center;
    justify-items: center;
    @media(max-width:990px){
        grid-template-columns: 2fr 2fr;
    }
    
    @media(max-width:768px){
        grid-template-columns: 1fr ;
    }
}

.destinos1__titulo{
    text-align: center;
    color:$colorprincipal;
    padding: 20px;
    font-size: calc(1.375rem + 1.5vw);
    @media(max-width:990px){
        font-size: calc(1.100rem + 1.5vw);
        
    }
    @media(max-width:768px){
        font-size: calc(1.0rem + 1.5vw);
    }
    @media(max-width:480px){
        font-size: calc(0.7rem + 1.5vw);
    }

}



#info{
    background-color: $colorprincipal;
    display: grid;
    grid-template-columns: repeat(2, 1fr) ;
    align-items: center;
    justify-content: center;
    padding: 30px;

    @media(max-width:990px){
        grid-template-columns: 1fr ;
        text-align: center;
        align-items: center;
    }
    

}


#nosotros{
    background-color: $colorsecundario;
    color: $colorprincipal;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
    padding: 3%;
    @media(max-width:990px){
        grid-template-columns: 1fr;
    }
}

.contacto{
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    justify-content: center;
    align-items: center;
    justify-items: center;
        @media(max-width:990px){
            grid-template-columns: 2fr 2fr ;
        }
        
            @media(max-width:768px){
                grid-template-columns: 1fr ;
            }

}









.mapa{
    width:2000px;
    height: 604px;
    @media(max-width:1280px){
        width:1280px;
        height: 604px; 
    } 
    @media(max-width:1024px){
        width:1000px;
        height: 604px; 
    }
    @media(max-width:990px){
        width:990px;
        height: 604px; 
    }
    @media(max-width:768px){
        width:720px;
        height: 604px; 
    }

    @media(max-width:480px){
        width:420px;
        height: 604px; 
    }
    @media(max-width:320px){
        width:320px;
        height: 604px; 
}
}

