@import"variableGlobal";
@import "fuentes";
@import"generales";
@import "formularios";
@import "media";
@import "modales";




#carouselExampleIndicators{
    z-index: -1;
}




#destinos1{
    background-color: $colorsecundario;
    .destinos1__titulo{
        text-align: center;
        color:$colorprincipal;
        padding: 20px;
    }
    .destinos1__fotos img{
        margin: 20px;
    
    }
    
}



.destinos1__fotos img:hover{
    animation-duration: 3s;
    animation-name: opacidad;
    transition-duration: 3s;
    
    

}

@keyframes  opacidad{
    0%{
        opacity: 1;

    }
    100%{
        opacity: 2;
    }

}



.destinos1__boton{
    width: 10%;
    height: 5%;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 40px;
    background-color: $colorprincipal;
    border-width: 0px;
    transition: all 1s;
    color: $colorsecundario;
        a{
            color: $colorsecundario;
        }
}

.destinos1__boton:hover{
    
    
    background-color: $colortres;
    a:-webkit-any-link {
        color: $colorprincipal;
        cursor: pointer;
        text-decoration: none;
    }
}






.button__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    
}


#publicidad img{
    width: 100%;
}




.info__bloque1{
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    .logo{
    
        padding-bottom: 50px;
        
        
    
    }
    .redes{
        padding-top: 20px;
    }
    h2{
        color: white;
        
        padding-bottom: 10px;
    }
    p{
        color: white;
        padding: 10px;
        
    }
}










#opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    .opciones__titulo{
        color: $colorprincipal;
        margin: 30px;
    }
    .opciones__nacionales{
        margin: 20px;
    }
}






#federico{
    background-color: $colorprincipal;
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .federico__frase{
        color: white;
        width: 70%;
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .federico__autor{
        color: white;
        text-align: right;
        margin: 25px;
        width: 70%;
    }
    
}







.nosotros__titu{
    font-size: 30px;
}



#destinos2{
    justify-content: center;
    align-items: center;
    .destinos2__titulo{
        text-align: center;
        color:$colorprincipal;
        font-size: 40px;
        padding: 30px;
    
    }
}





