@import"variableGlobal";
@import "fuentes";
@import"generales";
@import "formularios";
@import "media";
@import "modales";




#carouselExampleIndicators{
    z-index: -1;
}




#destinos1{
    background-color: $colorsecundario;
    
    .destinos1__fotos img{
        margin: 20px;
        &:hover{
            animation-duration: 5s;
            animation-name: opacidad;
            transition-duration: 3s;
        }
    
    } 
    
}





@keyframes  opacidad{
    0%{
        opacity: 0.5;

    }
    100%{
        opacity: 2;
    }

}
.fotosblog{
    padding: 10px;
    &:hover{
            animation-duration: 5s;
            animation-name: opacidad;
            transition-duration: 3s;
        }
    }



.fotodestino:hover{
    animation-duration: 5s;
    animation-name: opacidad;
    transition-duration: 3s;

}

@mixin sizes($width, $height)
{
    height: $height;
    width: $width;
}

.destinos1__boton{
    @include sizes(200px, 5% );
    font-size: 80%;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 30px;
    background-color: $colorprincipal;
    border-width: 0px;
    transition: all 1s;
    color: $colorsecundario;
    &:hover{
        background-color: $colortres;
        a:-webkit-any-link {
            color: $colorprincipal;
            cursor: pointer;
            text-decoration: none;
    }
        a{
            color: $colorsecundario;
        }
    }
}








.button__contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    
    
}


#publicidad img{
    width: 100%;
}




.info__bloque1{
    grid-template-rows: repeat(4, 1fr);
    align-items: center;
    .logo{
    
        padding-bottom: 50px;
        
        
    
    }
    .redes{

        padding-bottom: 20px;
    }
    h2{
        color: white;
        
        padding-bottom: 10px;
    }
    p{
        color: white;
        padding: 10px;
        
    }
}





.imacontacto{
    padding: 5px;
}

@mixin posicioncol {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#opciones{
    @include posicioncol;
    .opciones__titulo{
        color: $colorprincipal;
        margin: 30px;
    }
    .opciones__nacionales{
        margin: 20px;
    }
}






#federico{
    background-color: $colorprincipal;
    @include sizes(100%,400px );
    @include posicioncol;
    justify-content: center;
    .federico__frase{
        color: white;
        width: 70%;
        text-align: center;
        font-size: 20px;
        margin-bottom: 20px;
    }
    .federico__autor{
        color: white;
        text-align: right;
        margin: 25px;
        width: 70%;
    }
    
}







.nosotros__titu{
    font-size: 30px;
}



#destinos2{
    justify-content: center;
    align-items: center;
    .destinos2__titulo{
        text-align: center;
        color:$colorprincipal;
        font-size: 40px;
        padding: 30px;
        @media(max-width:768px){
            font-size: 30px;
        }
        @media(max-width:480px){
        font-size: 25px;
    }
}
}





