@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;1,900&display=swap");
* {
  Margin: 0px;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f5f3f3;
}

nav {
  font-size: 20px;
  height: 100px;
  padding: 20px;
  color: #FF6633;
  background-color: #f5f3f3;
}
nav .nav-link {
  margin-left: 25px;
  margin-right: 25px;
}

header {
  z-index: 100;
}

a:-webkit-any-link {
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link {
  color: dimgrey;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: #FF6633;
}

.navbar-collapse {
  background-color: #f5f3f3;
  margin: 8px -12px;
  padding-left: 12px;
  z-index: 100;
}

.nav__logo {
  padding-right: 15px;
}

footer {
  background-color: #f5f3f3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 2%;
}
@media (max-width: 480px) {
  footer {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 2%;
  }
}
footer .footer__bloque2, footer .footmenu {
  margin: 2%;
  width: 50%;
  color: #FF6633;
}
footer .footmenu a:-webkit-any-link {
  color: #FF6633;
  cursor: pointer;
  text-decoration: none;
}
footer .titufoot {
  font-weight: bold;
  text-transform: uppercase;
  -webkit-text-decoration: underline #FF6633 1px;
          text-decoration: underline #FF6633 1px;
}

.titunacional {
  color: #FF6633;
  text-align: center;
  font-weight: bold;
  padding: 15px;
}

.subtitulonacional {
  text-align: center;
  color: gray;
}
@media (max-width: 768px) {
  .subtitulonacional {
    font-size: 15px;
  }
}

.cards-wrapper {
  display: flex;
}

.imgcard {
  margin: 1rem auto;
  width: 25%;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.contenedorbotonnacional {
  display: flex;
  align-items: center;
  justify-content: center;
}

.personalizado {
  font-weight: bold;
  text-align: center;
  align-items: center;
  font-size: 30px;
}

.formu1 {
  width: 100%;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  color: #FF6633;
  background-color: #f5f3f3;
  border-radius: 2rem;
}
.formu1 h3 {
  padding-bottom: 10px;
  font-size: 25px;
  text-transform: uppercase;
}
.formu1 input {
  width: 80%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  border: none;
}
.formu1 #mensaje {
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 5px;
}
.formu1 #enviar {
  width: 30%;
  margin: 15px;
  background-color: gray;
  color: white;
  border-radius: 1rem;
}
.formu1 #enviar:hover {
  background-color: orange;
  color: #f5f3f3;
}

.formulario__nosotros {
  background-color: #FF6633;
  color: white;
  text-align: center;
  padding: 20px;
}
.formulario__nosotros input {
  width: 50%;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
  border: none;
  border-radius: 0.5rem;
}
.formulario__nosotros #mensaje {
  padding-top: 30px;
  padding-bottom: 15px;
  margin: 5px;
}
.formulario__nosotros #enviar {
  width: 30%;
  margin: 15px;
  background-color: gray;
  color: white;
  border-radius: 0.5rem;
  border: none;
}
.formulario__nosotros #enviar:hover {
  background-color: orange;
  color: #f5f3f3;
}
.formulario__nosotros h3 {
  padding-bottom: 10px;
  font-size: 25px;
  text-transform: uppercase;
}
.formulario__nosotros h1 {
  padding-bottom: 10px;
  font-size: 25px;
  text-transform: uppercase;
}

.formuviajar {
  display: flex;
  margin: 5%;
  border: 1px solid #FF6633;
  border-radius: 20px;
  padding: 20px;
  background-color: #FF6633;
  color: white;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  width: 10rem;
  text-align: center;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: #FF6633;
  border: none;
  margin: 2rem;
  padding: 5px;
}
.btn:hover {
  background-color: orange;
  color: #f5f3f3;
}

.botonnacional {
  border: 1.5px solid #FF6633;
  background-color: white;
  color: #FF6633;
  border-radius: 5px;
  font-weight: bolder;
}
.botonnacional:hover {
  background-color: lightgrey;
  color: #FF6633;
}

.destinos2__fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
@media (max-width: 990px) {
  .destinos2__fotos {
    grid-template-columns: 2fr 2fr;
  }
}
@media (max-width: 768px) {
  .destinos2__fotos {
    grid-template-columns: 1fr;
  }
}

.destinos1__fotos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
@media (max-width: 990px) {
  .destinos1__fotos {
    grid-template-columns: 2fr 2fr;
  }
}
@media (max-width: 768px) {
  .destinos1__fotos {
    grid-template-columns: 1fr;
  }
}

.destinos1__titulo {
  text-align: center;
  color: #FF6633;
  padding: 20px;
  font-size: calc(1.375rem + 1.5vw);
}
@media (max-width: 990px) {
  .destinos1__titulo {
    font-size: calc(1.1rem + 1.5vw);
  }
}
@media (max-width: 768px) {
  .destinos1__titulo {
    font-size: calc(1rem + 1.5vw);
  }
}
@media (max-width: 480px) {
  .destinos1__titulo {
    font-size: calc(0.7rem + 1.5vw);
  }
}

#info {
  background-color: #FF6633;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  padding: 30px;
}
@media (max-width: 990px) {
  #info {
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
  }
}

#nosotros {
  background-color: #f5f3f3;
  color: #FF6633;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
  padding: 3%;
}
@media (max-width: 990px) {
  #nosotros {
    grid-template-columns: 1fr;
  }
}

.contacto {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
  justify-items: center;
}
@media (max-width: 990px) {
  .contacto {
    grid-template-columns: 2fr 2fr;
  }
}
@media (max-width: 768px) {
  .contacto {
    grid-template-columns: 1fr;
  }
}

.mapa {
  width: 2000px;
  height: 604px;
}
@media (max-width: 1280px) {
  .mapa {
    width: 1280px;
    height: 604px;
  }
}
@media (max-width: 1024px) {
  .mapa {
    width: 1000px;
    height: 604px;
  }
}
@media (max-width: 990px) {
  .mapa {
    width: 990px;
    height: 604px;
  }
}
@media (max-width: 768px) {
  .mapa {
    width: 720px;
    height: 604px;
  }
}
@media (max-width: 480px) {
  .mapa {
    width: 420px;
    height: 604px;
  }
}
@media (max-width: 320px) {
  .mapa {
    width: 320px;
    height: 604px;
  }
}

.modal .modal-header {
  background-color: #FF6633;
}
.modal .modal-title {
  color: white;
}
.modal body img {
  margin: auto;
  display: block;
  padding-bottom: 15px;
}
.modal .bajadamodal {
  font-size: 20px;
  color: #FF6633;
}
.modal .botonmodal {
  background-color: #FF6633;
  color: #f5f3f3;
  border: none;
}
.modal .botonmodal:hover {
  background-color: orangered;
}

a:-webkit-any-link {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

#carouselExampleIndicators {
  z-index: -1;
}

#destinos1 {
  background-color: #f5f3f3;
}
#destinos1 .destinos1__fotos img {
  margin: 20px;
}
#destinos1 .destinos1__fotos img:hover {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: opacidad;
          animation-name: opacidad;
  transition-duration: 3s;
}

@-webkit-keyframes opacidad {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 2;
  }
}

@keyframes opacidad {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 2;
  }
}
.fotosblog {
  padding: 10px;
}
.fotosblog:hover {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: opacidad;
          animation-name: opacidad;
  transition-duration: 3s;
}

.fotodestino:hover {
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-name: opacidad;
          animation-name: opacidad;
  transition-duration: 3s;
}

.destinos1__boton {
  height: 5%;
  width: 200px;
  font-size: 80%;
  margin: 20px;
  text-align: center;
  padding: 10px;
  border-radius: 30px;
  background-color: #FF6633;
  border-width: 0px;
  transition: all 1s;
  color: #f5f3f3;
}
.destinos1__boton:hover {
  background-color: #FFCC33;
}
.destinos1__boton:hover a:-webkit-any-link {
  color: #FF6633;
  cursor: pointer;
  text-decoration: none;
}
.destinos1__boton:hover a {
  color: #f5f3f3;
}

.button__contenedor {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#publicidad img {
  width: 100%;
}

.info__bloque1 {
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
}
.info__bloque1 .logo {
  padding-bottom: 50px;
}
.info__bloque1 .redes {
  padding-bottom: 20px;
}
.info__bloque1 h2 {
  color: white;
  padding-bottom: 10px;
}
.info__bloque1 p {
  color: white;
  padding: 10px;
}

.imacontacto {
  padding: 5px;
}

#opciones {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#opciones .opciones__titulo {
  color: #FF6633;
  margin: 30px;
}
#opciones .opciones__nacionales {
  margin: 20px;
}

#federico {
  background-color: #FF6633;
  height: 400px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#federico .federico__frase {
  color: white;
  width: 70%;
  text-align: center;
  font-size: 20px;
  margin-bottom: 20px;
}
#federico .federico__autor {
  color: white;
  text-align: right;
  margin: 25px;
  width: 70%;
}

.nosotros__titu {
  font-size: 30px;
}

#destinos2 {
  justify-content: center;
  align-items: center;
}
#destinos2 .destinos2__titulo {
  text-align: center;
  color: #FF6633;
  font-size: 40px;
  padding: 30px;
}
@media (max-width: 768px) {
  #destinos2 .destinos2__titulo {
    font-size: 30px;
  }
}
@media (max-width: 480px) {
  #destinos2 .destinos2__titulo {
    font-size: 25px;
  }
}/*# sourceMappingURL=estilos.css.map */